/* Container Layout */
.container {
    display: flex;
    height: 100vh;
  }
  
  .leftpanel {
    flex: 1;
    background-color: black;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rightpanel {
    flex: 1;
    padding: 40px;
    text-align: center;
  }
  
  /* Title */
  .forgot-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .title-underline {
    width: 50px;
    border: 2px solid gold;
    margin: 5px auto 20px;
  }
  
  .forgot-text {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
  }
  
  /* Input Field */
  .ant-input {
    height: 50px !important;
    font-size: 16px !important;
  }
  
  
  /* Reset Password Button */
  .ant-btn-primary {
    background-color: gold !important;
    border: none !important;
    height: 50px !important;
    font-size: 18px !important;
    font-weight: bold;
    color: black !important;
  }
  
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #e6c200 !important;
  }
  